# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Testes e ferramentas
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Configurações de editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

#Usados no Scripts
config/autores.json